{{#each this}}
<li class="countries-list__item">
    <h2 class="countries-list__item-name">{{name}}</h2>
    <img src="{{flag}}" alt="flag" width="240" class="countries-list__item-flag">
    <p class="countries-list__item-info"><span class="countries-list__item-info-tag">Capital: </span>{{capital}}</p>
    <p class="countries-list__item-info"><span class="countries-list__item-info-tag">Population: </span>{{population}}
    </p>
    <p class="countries-list__item-info"><span class="countries-list__item-info-tag">Languages:</p>
    <ul class="countries-list__item-languages">
        {{#each languages}}
        <li>
            <p class="countries-list__item-languages-info">{{name}}</p>
        </li>
        {{/each}}
    </ul>
</li>
{{/each}}